.MenuTrigger{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  // border-radius: 50%;
  color: #fff;
  background: var(--cvl-red);
  box-shadow: 0 0 12px 0 rgba(50, 0, 0, 0.4);

  transition: all 0.3s ease;
  pointer-events: auto;
  overflow: hidden;

  transform-origin: center;
  transform: rotate(45deg);

  .icon-img{
    display: block;
    color: #fff;
    transform-origin: center;
    transform: rotate(-45deg);
  }

  &.collapse{
    transform: scale(1.2);
    filter: blur(10px);
    opacity: 0;
    pointer-events: none;
  }
}
