.App{

  --Menu-width: 210px;
  --kiki-pink: rgb(149, 213, 205);
  --kiki-orange: rgb(255, 162, 75);

  opacity: 0;
  transition: opacity 0.5s;

  background: var(--cvl-red);

  &.app-fade-in{
    opacity: 1;
  }

  // ******************** sm: mobile layout ********************

  .main{
    position: relative;
    width: 100%;
    background: var(--cvl-red);

    .page{
      color: lightgrey;

      transform-origin: 50% 50vh; // fade-in-scale の画面中央設定
      animation:
        page-fade-in-scale 1.1s var(--my-ease-out) 0.1s both,
        page-fade-in-opacity 0.7s ease 0.1s both;

      @keyframes page-fade-in-scale{
        from{ transform: scale(1.1); }
        to{ text-transform: scale(1); }
      }
      @keyframes page-fade-in-opacity{
        from{ opacity: 0; }
        to{ opacity: 1; }
      }
    }

    .animated-switch-wrapper {
      position: relative;
      height: 100%;

      & > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .page{
        // padding: 0 2vw;
        width: 100%;
        min-height: 100%;

        .page-title{
          padding: 30vh 0;
          font-size: 60px;
        }
      }
    } // .animated-switch-wrapper

    &.md,
    &.lg,
    &.xl{
      margin-top: 60px;
      border-top: 2px solid crimson;
    }
  } // .main



  // ******************** md middle size layout ********************
  // @media screen and (min-width: 768px){
  //
  //   main.main{
  //     border: 3px solid red;
  //
  //     .animated-switch-wrapper {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       right: 0;
  //       width: 100%;
  //       height: 100%;
  //
  //       & > div{
  //         -webkit-overflow-scrolling: touch;
  //         height: 100%;
  //         overflow-y: scroll;
  //       }
  //     }
  //   }
  // }
}
