.App{

  --Menu-width: 210px;
  --kiki-pink: rgb(149, 213, 205);
  --kiki-orange: rgb(255, 162, 75);

  opacity: 0;
  transition: opacity 0.5s;

  background: var(--cvl-red);

  &.app-fade-in{
    opacity: 1;
  }

  .pageBgImg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    // height: 100vh;
    background: var(--cvl-red);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-blend-mode: color-burn;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 10vh;
    font-size: 20vmin;
    font-weight: bold;
    color: rgba(0,0,0,0.7);

    transform-origin: center;
    transform: scale(1);
    // filter: blur(10px);

    transition: all 0.3s ease;

    &.off{
      background-image: linear-gradient(var(--cvl-grey), var(--cvl-grey)) !important;
    }
  }

  // ******************** sm: mobile layout ********************

  .main{
    position: relative;
    width: 100%;

    .page{
      width: 100%;
      min-height: 100%;

      // color: lightgrey;
      // background: var(--cvl-red);
      color: #333;
      background: #eee;

      // page-in
      transform-origin: 50% 50vh; // fade-in-scale の画面中央設定
      animation:
        page-fade-in-scale 0.8s var(--my-ease-out) 1.3s both,
        page-fade-in-opacity 0.7s ease 1.3s both;

      @keyframes page-fade-in-scale{
        from{ filter: blur(11px); }
        to{ filter: blur(0); }
      }
      @keyframes page-fade-in-opacity{
        from{ opacity: 0; }
        to{ opacity: 1; }
      }

      // page-out
      &.leave{
        animation:
          page-fade-out-scale 0.5s var(--my-ease-out) 0s both,
          page-fade-out-opacity 0.5s ease 0s both;

        @keyframes page-fade-out-scale{
          // from{ transform: scaleX(1); }
          // to{ transform: scaleX(1.05); }
        }
        @keyframes page-fade-out-opacity{
          from{ opacity: 1; }
          to{ opacity: 0; }
        }
      }

      .page-title{
        padding: 18vh 0;
        font-size: 50px;
      }
    } // .page
  } // .main

  .main.md,
  .main.lg,
  .main.xl{
    // margin-top: 60px;
    // border-top: 2px solid crimson;
  }


  // ******************** md middle size layout ********************
  // @media screen and (min-width: 768px){
  // }
}
